@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
}
body {
    background-color: #014E56;
    font-family: "Livvic", serif;
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00080a;
    z-index: 10;
    display: none;
}
.shadow.active {
    display: block; 
    opacity: 0.5;
}
.mainContainer {
    width: 100%;
    position: relative;
}
.G7-1 {
    position: absolute;
    left: 0;
    top: 250px;
    z-index: 2;
}
.G7-2 {
    position: absolute;
    left: 60%;
    bottom: 0;
    z-index: 3;
}

/* -------------------------------------burger-menu */
.mobile-menu {
    width: 70%;
    height: 100vh;
    padding-top: 112px;
    background: #2C6269;
    position: fixed;
    top: 0;
    right: -70%;
    transition: .5s ease;
    display: none;
    z-index: 14;
}
.mobile-menu.active {
    right: 0;
}
.mobile-menu-group {
    position: absolute;
    right: 0;
    top: 467px;
}
.mobile-menu-list {
    width: 100%;
    height: 165px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.mobile-menu-list .home, .about {
    text-align: start;
    font-size: 18px;
    line-height: 28px;
}
/* --------------------------------------- */
.menu { 
    width: 20px;
    height: 18px;
    position: fixed;
    top: 56px;
    right: 25px;
    cursor: pointer;
    display: none;
    z-index: 15;
}
.menu span {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}
.menu span:nth-child(1) {
    top: 15%;
}
.menu span:nth-child(3) {
    top: 85%;
}
.menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu.active span:nth-child(2) {
    opacity: 0;
}
.menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}

/* -------------------------------------Header */
header {
    width: 100%;
    height: 700px;
    padding: 75px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.header-top {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left {
    width: 380px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myteam {
    width: 160px;
    height: 100%;
    background-image: url(./images/myteam.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.home {
    width: 89px;
    height: 28px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: end;
    cursor: pointer;
}
.about  {
    width: 51px;
    height: 28px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}
.top-right {
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
}
.home:hover,
.about:hover {
    color: #F67E7E;;
}
.top-right:hover {
    background-color: white;
    color: #002529;
}
.header-body {
    width: 100%;
    height: 375px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.header-body-left {
    width: 635px;
    height: 200px;
    color: #FFF;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px; 
}
.header-body-left span {
    color: #F67E7E;
    font-size: 100px;
}
.header-body-right {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    width: 445px;
    height: 195px;
}
.rectangle {
    width: 50px;
    height: 4px;
    background: #79C8C7;
}
.header-body-right .text {
    color: #FFF;
    font-size: 18px;
    font-weight: 550;
    line-height: 28px;
}
/* ------------------------------------- bottom */
.bottom {
    background: #004047;
    width: 100vw;
    height: auto;
}
.bottom-header {
    display: flex;
    justify-self: center;
    text-align: center;
}
.bottom-stories {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 25px;
}
.bottom h1 {
    width: 932px;
    color: #FFF;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
.bottom span {
    color: #79C8C7;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
.bottom-stories p {
    width: 350px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    position: relative;
    padding-top: 69px;
}
.bottom-stories h5 {
    width: 350px;
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 24px;
}
.bottom-stories h6 {
    color: #FFF;
    text-align: center;
    font-size: 13px;
    font-style: italic;
    font-weight: 500;
    line-height: 18px;
}
.bottom-stories-first,
.bottom-stories-second,
.bottom-stories-third {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commas {
    position: absolute;
    padding-top: 32px;
}
.bottom-img {
    padding-top: 28px;
    display: flex;
    justify-self: end;
}
.bottom-stories img {
    padding-top: 32px;
}

/* -------------------------------------------main */
.main-features {
    width: 100vw;
    height: 684px;
    background-color: #012F34;
    display: flex;
    align-items: start;
    justify-content: space-between;
    padding: 145px 165px;
    position: relative;
}
.main-left {
    width: 445px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 54px;
}
.main-left-underline {
    width: 50px;
    height: 4px;
    background-color: #F67E7E;
}
.main-left h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
}
.main-right {
    width: 540px;
    height: 100%;
    padding-top: 54px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.main-right-feature {
    width: 100%;
    height: 94px;
    display: flex;
    gap: 23px;
}
.main-image {
    width: 72px;
    height: 72px;
}
.main-right-feature-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.main-right-feature-text .h3 {
    width: 445px;
    color: #F67E7E;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px; 
}
.main-right-feature-text .ppp {
    width: 445;
    color: #FFF;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}
.main-icon-41 {
    position: absolute;
    bottom: 0;
    right: 0;
}

/* -------------------------------------------footer */
.footer-top {
    width: 100%;
    height: 200px;
    background-color: #F67E7E;
    padding: 76px 165px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}
.footer-icon-11 {
    position: absolute;
    bottom: 0;
    left: 0;
}
.footer-top h1 {
    color: #012F34;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}
.footer-top button {
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #012F34;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #012F34;
    background-color: #F67E7E;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}
.footer-bottom {
    width: 100%;
    height: 196px;
    background-color: #002529;
    display: flex;
    justify-content: space-between;
    padding: 48px 165px;
}
.footer-bottom-1 {
    width: 160px;
    height: 93px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-bottom-pages {
    width: 140px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.footer-bottom-2 {
    width: 445px;
    height: 100px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
}
.footer-bottom-3 {
    width: 255px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.footer-bottom-icons {
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.footer-bottom-icons img {
    width: 24px;
    height: 24px;
}
.footer-bottom-text {
    height: 25px;
    width: 100%;
    color: #FFF;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
}

/* ----------------------------------------media-nino */
@media (max-width:1200px) {
    .bottom {
        width: auto;
    }
    .bottom-header h1, span {
        font-size: 37px;
    }
    .bottom-header {
        width: 560px;
    }
    .bottom-stories p {
        width: 300px; 
    }
    .bottom-stories {
        gap: 0px;
        display: flex;
        flex-wrap: wrap;
    }
    /* ----------------------------------------------luka */
    .main-features {
        height: auto;
        align-items: c;
        flex-direction: column;
    }
    .main-left {
        gap: 32px;
    }
    .main-left h1 {
        font-size: 32px;
        line-height: 32px
    }
    .main-left h1 br {
        display: none;
    }
    .main-right {
        height: 346px;
    }
}

@media (max-width:768px) {
    .bottom {
        width: 100%;
        height: auto;
    }
    .bottom-header span {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
    .bottom-header h1 {
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }
    .bottom-header {
        width: 520px;
        padding-left: 4%;
    }
    .bottom-stories {
        display: flex;
        flex-direction: column;
    }
    .bottom-stories p {
        width: 573px;
        text-align: center;
        font-weight: 600;
        line-height: 25px;
    }
    .bottom-stories .bottom-stories-img {
        padding-top: 15px;
    }
    .bottom-stories {
        gap: 20px;
        padding-top: 20px;
    }
}

@media (max-width: 375px) {
    .bottom {
        width: 100%;
        height: auto;
    }
    .bottom-header {
        width: 327px;
        padding-top: 40px;
    }
}

/* -----------------------------------------media-maia */
@media (max-width:1085px) {
    header {
        height: 700px;
    }
    .header-body-left,
    .header-body-left span {
        font-size: 72px; 
    }
}
@media (max-width:980px) {
    header {
        padding: 75px 150px;
    }
    .header-body-left {
        font-size: 64px; 
        line-height: 80px;
    }
}
@media (max-width:900px) {
    header {
        padding: 64px 40px;
    }
    .G7-1 {
        display: none;
    }
    .G7-2 {
        left: 30%;
    }
    .header-body {
        height: 438px;
        padding: 0 0 190px 0;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
    .header-body-left {
        height: 112px;
        line-height: 56px;
    }
    .rectangle {
        display: none;
    }
    .header-body-right {
        align-items: center;
        justify-content: center;
    }
    .header-body-right .text {
        width: 457px;
        font-size: 15px;
        font-weight: 500;
        line-height: 28px;
    }
    /* --------------------------------------------luka */
    .main-features {
        padding: 100px 98px;
    }
    .main-icon-41 {
        top: 0;
    }
}
@media (max-width:636px) {
    .top-left .home,
    .top-left .about,
    .header-top .top-right {
        display: none;
    }
    .mobile-menu,  .menu {
        display: block;
    }
    header {
        height: 567px;
        padding: 48px 24px;
    }
    .G7-2 {
        left: 50%;
        transform: translateX(-50%);
    }
    .header-top {
        height: 32px;
    }
    .myteam {
        width: 128px;
        height: 100%;
    }
    .header-body {
        height: 350px;
        padding: 0 0 120px 0;
    }
    .header-body-left,
    .header-body-left span {
        font-size: 40px;
        font-weight: 600;
        line-height: 40px;
    }
    .header-body-right {
        width: 327px;
    }
}