@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    font-family: "Livvic", serif;
}
.shadow {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00080a;
    z-index: 10;
    display: none;
}
.shadow.active {
    display: block; 
    opacity: 0.5;
}
.mainContainer {
    background-color: #014E56;
    width: 100%;
    position: relative;
}
/* -------------------------------------burger-menu */
.mobile-menu {
    width: 70%;
    height: 100vh;
    padding-top: 112px;
    background: #2C6269;
    position: fixed;
    top: 0;
    right: -70%;
    transition: .5s ease;
    display: none;
    z-index: 10;
}
.mobile-menu.active {
    right: 0;
}
.mobile-menu-group {
    position: absolute;
    right: 0;
    top: 467px;
}
.mobile-menu-list {
    width: 100%;
    height: 165px;
    padding-left: 48px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}
.mobile-menu-list .home, .about {
    text-align: start;
    font-size: 18px;
    line-height: 28px;
}
/* --------------------------------------- */
.menu { 
    width: 20px;
    height: 18px;
    position: fixed;
    top: 56px;
    right: 25px;
    cursor: pointer;
    display: none;
    z-index: 11;
}
.menu span {
    width: 100%;
    height: 3px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: .5s ease;
}
.menu span:nth-child(1) {
    top: 15%;
}
.menu span:nth-child(3) {
    top: 85%;
}
.menu.active span:nth-child(1) {
    top: 50%;
    transform: translate(-50%, -50%) rotate(45deg);
}
.menu.active span:nth-child(2) {
    opacity: 0;
}
.menu.active span:nth-child(3) {
    top: 50%;
    transform: translate(-50%, 50%) rotate(-45deg);
}
/* ---------------------------------------------header */
header {
    width: 100%;
    padding: 75px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}
.header-top {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top-left {
    width: 380px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.myteam {
    width: 160px;
    height: 100%;
    background-image: url(./images/myteam.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.home {
    width: 89px;
    height: 28px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: end;
}
.about  {
    width: 51px;
    height: 28px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
}
.top-right {
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #F67E7E;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F67E7E;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.home:hover,
.about:hover {
    color: #F67E7E;;
}
.top-right:hover {
    background-color: white;
    border: none;
    color: #002529;
}
/* -------------------------------------registration */
.registration {
    width: 100%;
    height: 593px;
    padding: 50px 165px;
    position: relative;
    overflow: hidden;
}
.contact-main-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact-main-box-img {
    position: absolute;
    left: 0;
}
.contact-left-side {
    width: 540px;
}
.contact-left-side .h1 {
    width: 100%;
    color: #FFF;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 100px;
}
.contact-left-side .h4 {
    width: 100%;
    color: #F67E7E;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    padding-top: 10px;
}
.contact-logo-text {
    padding-top: 32px;
}
.contact-logo-text1 {
    display: flex;
    align-items: start;
    gap: 23px;
}
.contact-logo-text2 {
    display: flex;
    align-items: start;
    gap: 23px;
}
.contact-logo-text3 {
    display: flex;
    align-items: start;
    gap: 23px;
}
.contact-logo-text h6 {
    width: 445px;
    color: #FFF;
    font-size: 18px;
    font-weight: 700;
    line-height: 28px;
    padding-top: 30px;
}
.contact-logo-text img {
    width: 82px;
    height: 82px;
    padding-top: 10px;
}
.contact-right-side {
    width: 540px;
}
.registration-form {
    display: flex;
    flex-direction: column;
}
.registration-form {
    height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.registration-form input,
.registration-form textarea {
    width: 100%;
    background-color: transparent;
    border: solid white;
    border-width: 0 0 1px 0;
    color: white;
    outline: none;
    padding-left: 16px;
    padding-bottom: 20px;
}
#name,
#email,
#comp-name,
#title,
#message {
    width: 1000px;
    font-size: 15px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: -0.115px;
    height: 50px;
    font-family: "livvic";
}
.registration-form input:focus,
.registration-form textarea:focus {
    border-color: #79c8c7;
}
#submit {
    width: 123px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 24px;
    border: 2px solid #FFF;
    background: #FFF;
    color: #004047;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
#submit:hover {
    background: transparent;
    color: white;
    cursor: pointer;
}
#name::placeholder,
#email::placeholder,
#comp-name::placeholder,
#title::placeholder,
#message::placeholder {
    color: #FFF;
    opacity: 0.6;
}
.contact-botton-img{
    position: absolute;
    right: 0;
    bottom: 0;
}
.home:hover,
.about:hover,
.contact:hover {
    cursor: pointer;
}
.exchange-rate-field {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    gap: 30px;
    background-color: #004047;
    color: white;
}
.data-from-api {
    min-width: 250px;
    min-height: 50px;
    padding: 10px;
    border: 1px solid white;
    color: white;
}
.footer-bottom {
    width: 100%;
    height: 196px;
    background-color: #002529;
    display: flex;
    justify-content: space-between;
    padding: 48px 165px;
}
.footer-bottom-1 {
    width: 160px;
    height: 93px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer-bottom-pages {
    width: 140px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}
.footer-bottom-2 {
    width: 40%;
    height: 100px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    line-height: 25px;
    text-align: left;
}
.footer-bottom-3 {
    width: 255px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}
.footer-bottom-icons {
    width: 105px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}
.img-fb {
    width: 24px;
    height: 100%;
    background-image: url(./images/footer-icon-fb.svg);
    background-size: cover;
    cursor: pointer;
}
.img-pint {
    width: 24px;
    height: 100%;
    background-image: url(./images/footer-icon-pinterest.svg);
    background-size: cover;
    cursor: pointer;
}
.img-twit {
    width: 25px;
    height: 90%;
    background-image: url(./images/footer-icon-twitter.svg);
    background-size: cover;
    cursor: pointer;
}
.img-twit:hover {
    background-image: url(./images/twit-pink.svg);
    background-size: cover;
}
.footer-bottom-text {
    height: 25px;
    width: 255px;
    color: #FFF;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    opacity: 0.7;
    line-height: 25px;
}

@media (max-width:1350px) {
    .registration {
        padding: 50px 100px;
    }
}
@media (max-width:1200px) {
    .registration {
        height: auto;
    }
    .contact-main-box {
        height: auto;
        flex-direction: column;
    }
}
@media (max-width: 1085px) {
    .footer-bottom {
        padding: 56px 40px;
    }
    .footer-bottom-myteam {
        width: 96px;
        height: 24px;
    }
}
@media (max-width:768px) {
    .contact-main-box {
        gap: 64px;
    }
    .contact-left-side {
        align-items: center;
    }
    .h1, .h4 {
        text-align: center;
    }
}
/* ------------------------------------------------media-header */
@media (max-width:980px) {
    header {
        padding: 75px 150px;
    }
    .header-body-left {
        font-size: 64px; 
        line-height: 80px;
    }
}
@media (max-width:900px) {
    header {
        padding: 64px 40px;
    }
}
@media (max-width: 768px) {
    .footer-bottom {
        height: 272px;
        flex-wrap: wrap;
    }
    .footer-bottom-1,
    .footer-bottom-2 {
        width: 50%;
    }
    .footer-bottom-pages {
        width: 104px;
        gap: 24px;
    }
    .footer-bottom-pages .home,
    .footer-bottom-pages .about {
        font-size: 15px;
    }
    .footer-bottom-2 {
        text-align: end;
    }
    .footer-bottom-3 {
        width: 100%;
        height: 25px;
        flex-direction: row;
        margin-top: 20px;
    }
}
@media (max-width:636px) {
    .top-left .home,
    .top-left .about,
    .header-top .top-right {
        display: none;
    }
    .mobile-menu,  .menu {
        display: block;
    }
    header {
        padding: 48px 24px;
    }
    .header-top {
        height: 32px;
    }
    .myteam {
        width: 128px;
        height: 100%;
    }
    .contact-main-box-img {
        display: none;
    }
    .contact-botton-img {
        transform: translateY(50%);
    }
}
