@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Livvic:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    max-width: 100%;
}

body {
    background-color: #014E56;
    font-family: "Livvic", serif;
    width: 100%;
    position: relative;
}

.about1 {
    position: absolute;
    right: 0;
    top: 320px;
}

header {
    width: 100%;
    height: 520px;
    padding: 75px 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
}

.header-top {
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top-left {
    width: 380px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.myteam {
    width: 160px;
    height: 100%;
    background-image: url(./images/myteam.svg);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
}

.home {
    width: 89px;
    height: 28px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    text-align: end;
    cursor: pointer;
}

.about {
    width: 51px;
    height: 28px;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 30px;
    cursor: pointer;
}

.top-right {
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
}

.home:hover,
.about:hover {
    color: #F67E7E;
    ;
}

.top-right:hover {
    background-color: white;
    color: #002529;
}

.header-body {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: start;
    justify-content: space-between;
}

.header-body-left {
    width: 350px;
    height: 100px;
    color: #FFF;
    font-size: 64px;
    font-weight: 700;
    line-height: 100px;
}

.header-body-right {
    width: 730px;
    height: 156px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
}

.rectangle {
    width: 50px;
    height: 4px;
    background: #F67E7E;
}

.header-body-right .text {
    color: #FFF;
    font-size: 18px;
    font-weight: 550;
    line-height: 28px;
}

/* --------------------------------------Directors */
.about-directors {
    width: 100%;
    min-height: 1002px;
    padding: 140px 165px;
    gap: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #004047;
    position: relative;
}

.about2 {
    position: absolute;
    left: 0;
    top: 0;
}

.about3 {
    position: absolute;
    bottom: 0;
    right: 0;
}

.title {
    width: 100%;
    height: 48px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    line-height: 48px;
}

.directors {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    grid-auto-rows: 285px;
    gap: 30px;
}

.director-info {
    width: 350px;
    height: 253px;
    padding: 32px 24px;
    background: #012F34;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.details {
    width: 100%;
    height: 165px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.data {
    width: 100%;
    height: 53px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name {
    width: 100%;
    height: 28px;
    color: #79C8C7;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    line-height: 28px;
}

.data .position {
    width: 100%;
    height: 23px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
}

.button {
    width: 56px;
    position: absolute;
    bottom: -31px;
    cursor: pointer;
    background-size: contain;
    background-repeat: no-repeat;
    transition: transform 0.5s ease-in-out;
    z-index: 5;
}

.button.pink {
    background-image: url("./images/pinkCross.png");
    transform: rotate(0deg);
}

.button.pink:hover {
    background-image: url(./images/pink-hover.png);
}

.button.blue {
    background-image: url("./images/blueX.png");
    transform: rotate(90deg);
}

.button.blue:hover {
    background-image: url(./images/blue-hover.png);
}

/* ---------------------------------------------------slide */
.slide-frame {
    width: 350px;
    height: 253px;
    position: absolute;
    bottom: 0;
    background: transparent;
    overflow: hidden;
}

.slide-info {
    width: 350px;
    height: 253px;
    padding: 32px 24px;
    background: #002529;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    transition: transform 0.5s ease;
}

.slide-info.show {
    transform: translateY(0);
}

.slide-info .details {
    height: 155px;
}

.slide-texts {
    width: 100%;
    height: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.slide-citate {
    width: 250px;
    color: #FFF;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
    line-height: 25px;
}

.slide-socmed {
    width: 60px;
    height: 20px;
    display: flex;
    justify-content: space-between;
}

.twit {
    width: 24px;
    height: 100%;
    background-image: url(./images/twit.svg);
}

.twit:hover {
    cursor: pointer;
    background-image: url(./images/twit-pink.svg);
}

.linkd {
    width: 20px;
    height: 100%;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    color: #002529;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 1000;
}

.linkd:hover {
    cursor: pointer;
    background-color: #F67E7E;
}

/* ------------------------------------------clients */
.clients {
    background: #012F34;
    width: 100%;
    height: 437px;
    background-image: url(./images/img-page2.3.svg);
    background-repeat: no-repeat;
    background-position: left top;
}

.clients-main {
    padding-top: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-header {
    position: absolute;
    left: 0;
    top: 0;
}

.clients-header1 h1 {
    width: 920px;
    color: #FFF;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.clients-img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    gap: 73px;
}

.clients-verge {
    width: 165px;
    height: 28px;
}

.clients-jakarta {
    width: 184px;
    height: 23px;
}

.clients-guardian {
    width: 184px;
    height: 23px;
}

.clients-tech {
    width: 165px;
    height: 28px;
}

.clients-gadgets {
    width: 98px;
    height: 45px;
}

/* -------------------------foooter */
.footer-top {
    width: 100vw;
    height: 200px;

    background-color: #F67E7E;

    padding: 76px 260px;

    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.footer-icon-11 {
    position: absolute;
    bottom: 0;
    left: 0;
}

.footer-top h1 {
    color: #012F34;
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
}

.footer-top button {
    width: 153px;
    height: 48px;
    border-radius: 24px;
    border: 2px solid #012F34;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #012F34;
    background-color: #F67E7E;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;

}

.footer-bottom {
    width: 100%;
    height: 196px;
    background-color: #002529;
    display: flex;
    justify-content: space-between;
    padding: 48px 165px;
}

.footer-bottom-1 {
    width: 160px;
    height: 93px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-bottom-pages {
    width: 140px;
    height: 28px;
    display: inline-flex;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.footer-bottom-2 {
    width: 445px;
    height: 100px;
    color: #FFF;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
    text-align: left;
}

.footer-bottom-3 {
    width: 255px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.footer-bottom-icons {
    width: 104px;
    height: 24px;
    display: flex;
    justify-content: space-between;
}

.footer-bottom-icons img {
    width: 24px;
    height: 24px;
}

.footer-bottom-text {
    height: 25px;
    width: 100%;
    color: #FFF;
    text-align: right;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 25px;
}

@media (max-width: 1200px) {
    .clients-img {
        flex-wrap: wrap;
        padding-left: 50px;
        padding-right: 20px;
    }

    .clients-header1 h1 {
        width: 900px;
    }

    .clients-header img {
        width: 150px;
        height: 150px;
    }

    .clients {
        background-repeat: no-repeat;
        background-position: left -100px;
    }
}

@media (max-width:1085px) {
    header {
        height: 556px;
        padding: 75px;
    }

    .header-body {
        height: 257px;
        flex-direction: column;
        align-items: center;
    }

    .header-body-left {
        width: 100%;
        height: 56px;
        text-align: center;
        line-height: 56px;
    }

    .rectangle {
        display: none;
    }

    .header-body-right {
        width: 457px;
        height: auto;
    }

    .header-body-right .text {
        height: 177px;
        text-align: center;
        font-size: 15px;
    }

    .about-directors {
        height: 1219px;
        padding: 100px 97px;
    }

    .directors {
        height: 939px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
        gap: 11px;
    }

    .director-info {
        width: 281px;
    }
}

@media (max-width:768px) {
    .clients {
        width: 100%;
        height: 308px;
        margin-top: 700px;
    }

    .clients-header1 h1 {
        width: 457px;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }

    .clients-main {
        padding-top: 100px;
    }

    .clients-verge {
        width: 103px;
        height: 17px;
    }

    .clients-jakarta {
        width: 114px;
        height: 14px;
    }

    .clients-guardian {
        width: 112px;
        height: 17px;
    }

    .clients-tech {
        width: 103px;
        height: 17px;
    }

    .clients-gadgets {
        width: 61px;
        height: 28px;
    }

    .clients-img {
        gap: 49px;
        padding-left: 0;
        padding-right: 0;
        padding-top: 52px;

    }

    .clients-header img {
        margin-top: -50px;
    }
}

@media (max-width:376px) {
    .clients {
        background-position: left -100px top -100px;
        height: 632px;
    }

    .clients-main {
        padding-top: 88px;
    }

    .clients-header1 h1 {
        width: 327px;
        font-size: 32px;
        font-weight: 700;
        line-height: 32px;
    }

    .clients-img {
        flex-direction: column;
        gap: 57px;
    }

    .clients-verge {
        width: 146.561px;
        height: 24.19px;
    }

    .clients-jakarta {
        width: 162.213px;
        height: 19.921px;
    }

    .clients-guardian {
        width: 159.368px;
        height: 24.19px;
    }

    .clients-tech {
        width: 146.561px;
        height: 24.19px;
    }

    .clients-gadgets {
        width: 86.798px;
        height: 39.842px;
    }
}